html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font:24px "Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, sans-serif;}
ul,li,div,p,body{margin:0;padding:0;-moz-user-select: none;-khtml-user-select: none;user-select: none;text-align:left;}
input{-webkit-appearance:button;}
li{list-style:none;}
a{text-decoration:none;}
.hide{display:none;}
body, html {background:#e0ebef;text-align: left;height: 100%;width: 100%;font-family: "Helvetica Neue",Arial, HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;font-size: 16px;font-weight: normal;display: -webkit-box;-webkit-box-orient: vertical; -webkit-box-align: center;}
*{-webkit-tap-highlight-color:rgba(14,159,111,0.5);-webkit-touch-callout:none;}
body{width: 640px;opacity: 0;-webkit-transition:opacity 500ms ease-in;transition:opacity 500ms ease-in;}
#main{position:relative;width:640px;height:960px;margin:0 auto;background:url('http://xym.163.com/2014/zhurou/images/mbg.jpg') no-repeat;background-size:100%;overflow:hidden;}
#logo{position:absolute;width:212px;height:105px;left:0;top:0;}

#pop1{position:absolute;width:640px;height:700px;left:0;top:184px;}
#s1title{position:absolute;width:503px;height:54px;background:url('http://xym.163.com/2014/zhurou/images/s1title.png') no-repeat;background-size:100%;left:70px;top:0;}
#s1btxt{position:absolute;width:520px;height:92px;background:url('http://xym.163.com/2014/zhurou/images/s1btxt.png') no-repeat;background-size:100%;left:70px;top:133px;}
#zrpcon{position:absolute;width:573px;height:226px;background:url('http://xym.163.com/2014/zhurou/images/zrp.jpg') no-repeat;background-size:100%;left:35px;top:275px;}
#s1txt{position:absolute;width:327px;height:60px;background:url('http://xym.163.com/2014/zhurou/images/s1txt.png') no-repeat;background-size:100%;left:160px;top:540px;}
#showRes{position:absolute;width:236px;height:123px;left:168px;top:66px;}

#maskbg{display: none;position:absolute;width:100%;height:100%;background:black;filter:Alpha(opacity=60);opacity:0.6;top:0;left:0;z-index:20;}
#pop2{position:absolute;width:590px;height:563px;background:url('http://xym.163.com/2014/zhurou/images/pop.jpg') no-repeat;background-size:100%;left:25px;top:230px;z-index:22;display: none;}
#popClose{position:absolute;width:54px;height:54px;background:url('../images/close.png') no-repeat;background-size:100%;left:520px;top:-27px;}
#pop2Txt{position:absolute;width:590px;left:0px;top:330px;font-size:30px;font-weight:bold;color:#4d83b0;text-align:center;line-height:40px;}
#p2img{position:absolute;width:236px;height:123px;left:180px;top:140px;}
.spec{color:#eb4848;}

#pop3{position:absolute;width:606px;height:736px;background:url('http://xym.163.com/2014/zhurou/images/more.png') no-repeat;background-size:100%;left:17px;top:184px;z-index:22;display: none;}
#p3btn{position:absolute;width:590px;height:474px;left:0px;top:100px;}
#wxtips{position:absolute;width:590px;height:172px;background:url('http://xym.163.com/2014/zhurou/images/wxtips.png') no-repeat;background-size:100%;left:0px;top:-220px;z-index:22;}