body{margin:0;padding:0;background:#289adf;height: 100%;width: 100%; overflow:hidden;}
*{-webkit-tap-highlight-color:rgba(239,181,20,0);-webkit-touch-callout:none;}
.bg{ position:relative;width:640px;height:1136px;background:url('../images/bg.jpg') no-repeat;margin:0 auto;}
.download{ position:absolute; width:579px; height:163px; background:url(../images/down.png) no-repeat; top:295px; left:30px; border-radius:70px;}
.download:active{ background-position:0 -163px;}
.fire{ position:absolute; width:120px; height:106px; top:237px; left:584px; background:url(../images/fire.png) no-repeat;
animation: fly 3s ease infinite;
-moz-animation: fly 3s ease infinite;
-webkit-animation: fly 3s ease infinite;
-o-animation: fly 3s ease infinite;
}
@keyframes fly
{
from {top:280px; left:650px;}
to {top:-106px; left:100px;}
}

@-moz-keyframes fly
{
from {top:280px; left:650px;}
to {top:-106px; left:100px;}
}

@-webkit-keyframes fly
{
from {top:280px; left:650px;}
to {top:-106px; left:100px;}
}

@-o-keyframes fly
{
from {top:280px; left:650px;}
to {top:-106px; left:100px;}
}
