@charset "utf-8";
/* CSS Document */

body, p{
	margin:0;
	padding:15px 20px;
}
body {
	font: normal 100% "Microsoft Yahei", "SimHei ","Arial";
	background-color:#f3f3f3;
	color:#666;
}
img {
	border: 0px;
}
a{
	text-decoration:none;
	}
.title{
	width:100%;
	border-bottom:1px solid #65c8eb;
	border-top:1px solid #65c8eb;
	color:#888;
	height:2.6em;
	font-size:1em;
	line-height:2.5em;
	}
.title span{
	font-size:1.5em;
	color:#e9654f;
	margin-right:15px;
	}
#bookpic{
	margin-top:15px;
	}
.photoby{
	width:100%;
	text-align:right;
	color:#999;
	font-size:0.8em;
	}
.author{
	border-bottom:1px solid #65c8eb;
	border-top:1px solid #65c8eb;
	color:#65c8eb;
	padding:10px 0px;
	line-height:1.5em;
	width:auto;
	float:left;
	font-size:0.9em;
	margin-top:10px;
	}
.love{
	float:right;
	color:#65c8eb;
	height:4em;
	line-height:4em;
	}
.loveclick{
	float:right;
	color:#000;
	height:4em;
	line-height:4em;
	}