ul,li,div,p,body{margin:0;padding:0;-moz-user-select: none;-khtml-user-select: none;user-select: none;text-align:left;}
li{list-style:none;}
a{text-decoration:none;}
.last{ margin-right:0 !important;}
h1{display:none;}
body, html {background:#0e0e0e;text-align: left;height: 100%;width: 100%;font-family: "Microsoft YaHei","Helvetica Neue",Arial, HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;font-size: 16px;font-weight: normal;display: -webkit-box;-webkit-box-orient: vertical; -webkit-box-align: center;}
*{-webkit-tap-highlight-color:rgba(14,159,111,0);-webkit-touch-callout:none;}
body{height:100%;}
.section{ width:640px; margin:0 auto;}
.main{ position:relative;width:640px;height:100%;left:0;top:0;background:url('../images/bg.jpg') no-repeat;background-size:100%;overflow:hidden; margin:0 auto;}
.wlmh{ width:378px; height:719px; background:url('../images/wlmh.jpg') no-repeat; position:absolute; top:50%; left:50%; margin:-360px 0 0 -189px;}
.red1{
width:301px;
height:256px;
background:url('../images/red1.png') no-repeat;
position:absolute;
animation:redfirst 2s ease infinite;
-moz-animation:redfirst 2s ease infinite;
-webkit-animation:redfirst 2s ease infinite;
-o-animation:redfirst 2s ease infinite;
	}
.red2{
width:224px;
height:153px;
background:url('../images/red2.png') no-repeat;
position:absolute;
right:-224px;
top:-153px;
animation:redfirst 3s ease 2s infinite;
-moz-animation:redfirst 3s ease 2s infinite;
-webkit-animation:redfirst 3s ease 2s infinite;
-o-animation:redfirst 3s ease 2s infinite;
	}
.red3{
width:89px;
height:97px;
background:url('../images/red3.png') no-repeat;
position:absolute;
animation:redsecond 5s ease infinite;
-moz-animation:redsecond 5s ease infinite;
-webkit-animation:redsecond 5s ease infinite;
-o-animation:redsecond 5s ease infinite;
	}

.mainwl{ position: absolute;width:640px;height:100%;top:0; left:50%; background:url('../images/bg_wl.jpg') no-repeat;overflow:hidden; margin-left:-320px; z-index:0;}
#wlpage{ z-index:1; width:100%; height:100%; position:relative;}
.nav{ position:fixed; top:0; left:50%; margin-left:-320px; width:100%; height:113px;background:url('../images/navbg.jpg') no-repeat; z-index:2; }
.nav a{ display:block; width:210px; height:113px; float:left; text-align:center; line-height:113px; color:#fff; font-size:60px; margin-right:5px;}
.nav a:active{ background-color:#000; color:#d1bc96;}
.nav a.wl{background:url('../images/navwla.png') no-repeat;}
.nav a.wx{background:url('../images/navwxa.png') no-repeat;}
.nav a.mf{background:url('../images/navmfa.png') no-repeat;}
.nav a.wlclick, .nav a.wl:active{background:url('../images/navwl.png') no-repeat;}
.nav a.wxclick, .nav a.wx:active{background:url('../images/navwx.png') no-repeat;}
.nav a.mfclick, .nav a.mf:active{background:url('../images/navmf.png') no-repeat;}
.layerbottom{ position:fixed; bottom:0;left:50%; margin-left:-320px; width:640px; height:760px;z-index:2; background-color:#95805b; }
.lbclose{ width:113px; height:47px;background:url('../images/close.png') no-repeat; position:absolute; left:50%; margin-left:-56px; top:-52px; z-index:-1; padding-top:10px;}
.updown{ width:35px; height:39px;background:url('../images/updown.png') no-repeat; margin:0 auto; }
.lbtitle{background:url('../images/layerbottom.jpg') no-repeat; width:630px; height:84px; position:relative; margin:0 auto; top:5px;}
.lbcontent{ font-size:40px; color:#fff; padding-top:60px; padding-left:80px;}
#phone{ width:467px; height:62px; border:4px solid #000; margin-top:20px; font-size:35px;}
#submit{ width:474px; height:102px; background:url(../images/order.jpg); border:0;}
.wltxt{ background:url(../images/wltxt.png); width:97px; height:179px; float:left; position:relative; margin-top:153px; left:50px;}
.wlmstxt{ background:url('../images/wlms.png') no-repeat; width:416px; height:163px; float:left; position:relative; margin-top:160px; left:83px;}
.wlvideo{ background:url(../images/wlvbg.jpg); width:520px; height:365px; position:relative; margin:0 auto; top:365px; }
.vbtn{ width:113px; height:113px; background:url(../images/vbtn.png); position:relative; margin:0 auto; top:133px;}
.vbtn:active{ background:url(../images/vbtn2.png);}
#video1{ position:absolute; left:-1000px;}
.mp{ position:relative; height:100%; width:640px;}
.mp a{ display:block; float:left; width:213px; height:740px; position:absolute; bottom:0px;}
.mp a.mpone{background:url(../images/mp1.png);}
.mp a.mpone:active{background:url(../images/mp1a.png);}
.mp a.mptwo{background:url(../images/mp2.png); margin-left:213px;}
.mp a.mptwo:active{background:url(../images/mp2a.png); margin-left:213px;}
.mp a.mpthree{background:url(../images/mp3.png); margin-left:426px;}
.mp a.mpthree:active{background:url(../images/mp3a.png); margin-left:426px;}
.mainwx{ position: absolute;width:640px;height:100%;top:0; left:50%; background:url('../images/bg_wx.jpg') no-repeat;overflow:hidden; margin-left:-320px; z-index:0;}
.wxtxt{ background:url(../images/wxtxt.png); width:86px; height:179px; float:left; position:relative; margin-top:153px; left:50px;}
.wxmstxt{ background:url('../images/wxms.png') no-repeat; width:416px; height:163px; float:left; position:relative; margin-top:160px; left:83px;}
.wxwrap{position:relative; top:355px; width:100%; height:420px;}
.wxc{ width:219px; height:221px; background:url(../images/wxclick.png); position:absolute; left:220px; top:95px;}
.wxwrap span{ position:absolute;}
.wxwrap span.rx{ width:158px; height:82px; background:url(../images/rx.png); left:70px; top:40px;}
.wxwrap span.jq{ width:118px; height:61px; background:url(../images/jq.png); left:45px; top:185px;}
.wxwrap span.bf{ width:198px; height:92px; background:url(../images/bf.png); left:85px; top:350px;}
.wxwrap span.jx{ width:168px; height:82px; background:url(../images/jx.png); right:50px; top:0px;}
.wxwrap span.ll{ width:118px; height:61px; background:url(../images/ll.png); right:55px; top:170px;}
.wxwrap span.nl{ width:158px; height:82px; background:url(../images/nl.png); right:45px; top:320px;}
.wxlp{ width:100%; position:relative; top:370px;}
.wxlp a{ width:180px; height:419px; position:absolute;}
.wxlp a.lpone{background-image: url(../images/wxfkl.png); left:34px;}
.wxlp a.lpone:active{background-image: url(../images/wxfkla.png);}
.wxlp a.lptwo{background-image: url(../images/wxljl.png); left:233px;}
.wxlp a.lptwo:active{background-image: url(../images/wxljla.png);}
.wxlp a.lpthree{background-image: url(../images/wxsyl.png); left:433px;}
.wxlp a.lpthree:active{background-image: url(../images/wxsyla.png);}
.poplayer{ width:580px; height:470px; position:absolute; top:-1000px; left:50%; margin-left:-290px;}
.poplayer .popcontent{ width:470px; height:310px; position:absolute; bottom:0; background-color:#d1bc96; padding:55px;  }
.poplayer .popcontent span{ position:relative; top:50px;}
.poplayer .popclose{ width:115px; height:53px;background-image: url(../images/popclose.png); margin:0 auto;}

@keyframes redfirst
{
0%   {right:-301px; top:-256px;}
100% {right:640px; top:1136px;}
}

@-moz-keyframes redfirst /* Firefox */
{
0%   {right:-301px; top:-256px;}
100% {right:640px; top:1136px;}
}

@-webkit-keyframes redfirst /* Safari and Chrome */
{
0%   {right:-301px; top:-256px;}
100% {right:640px; top:1136px;}
}

@-o-keyframes redfirst /* Opera */
{
0%   {right:-301px; top:-256px;}
100% {right:640px; top:1136px;}
}

@keyframes redsecond
{
0%   {right:50px; top:-256px;}
100% {right:640px; top:900px;}
}

@-moz-keyframes redsecond /* Firefox */
{
0%   {right:-301px; top:-256px;}
100% {right:640px; top:900px;}
}

@-webkit-keyframes redsecond /* Safari and Chrome */
{
0%   {right:50px; top:-256px;}
100% {right:640px; top:900px;}
}

@-o-keyframes redsecond /* Opera */
{
0%   {right:-301px; top:-256px;}
100% {right:640px; top:900px;}
}


@keyframes updown
{
0%   {right:-301px; top:-256px;}
100% {right:640px; top:1136px;}
}

@-moz-keyframes updown /* Firefox */
{
0%   {right:-301px; top:-256px;}
100% {right:640px; top:1136px;}
}

@-webkit-keyframes updown /* Safari and Chrome */
{
0%   {right:-301px; top:-256px;}
100% {right:640px; top:1136px;}
}

@-o-keyframes updown /* Opera */
{
0%   {right:-301px; top:-256px;}
100% {right:640px; top:1136px;}
}
